<%- include("partials/header") -%>
  <div id="container-2">
    <br><br>
    <h3 id="aboutHeading">About PBI</h3>

    <div class="aboutInfo">
      <p>This is an internship project for The Sparks Foundation under their Graduate Rotational Programme(GRIP). PBI(Public Bank of India) has 10 different users who can perform transactions among each
        other.The transaction history of each user can also be displayed. </p>
    </div>
  </div>

<%- include("partials/footer") -%>
