<%- include("partials/header") -%>
<div class="conHead">
  <h3 id="contactHeading">OUR PROFILES</h3>
  <h4 id="contactSubheading">Feel Free to Connect with us!!</h4>
</div>

<div id="contact">
      <div class="social-icons">

        <a class="icon-links" href="https://www.facebook.com/Debarchan-Nayek " target="_blank">
          <i class="fa fa-facebook"></i>
        </a><br>
        <a class="icon-links" href="https://www.instagram.com/deb_nayek"target="_blank">
          <i class="fa fa-instagram"></i>
        </a><br>
        <a class="icon-links" href="https://www.linkedin.com/in/debarchan-nayek-77b106120"target="_blank">
          <i class="fa fa-linkedin"></i>
        </a><br>
        <a class="icon-links" href="https://github.com/Debarchan-Nayek"target="_blank">
          <i class="fa fa-github"></i>
        </a><br>

      </div>

<%- include("partials/footer") -%>
