<%- include("partials/header") -%>
  <div id="container-1">
  <div class="heading">
    <h3>Welcome to</h3><br>
    <h1><b>Public Bank of India</b></h1>
    <br>
    <img class="coin-img" src="coin.gif" alt="">
  </div>
  </div>

<%- include("partials/footer") -%>
