<%- include("partials/header") -%>

<div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="card">
                    <div class="card-header">
                        <b><h3 id="transactionHistory_heading">All Transactions</h3></b>
                    </div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush">

                                <% if(objAr.length) {%>
                                <%  objAr.forEach((item, i) => { %>
                                 <li class="list-group-item" style="text-transform: capitalize;">
                                    <%= item %></b>
                                 </li>
                                <% }); %>
                                <% } else {%>
                                  <li class="list-group-item" style="text-transform: capitalize;">
                                    Sorry! ! ! No transactions performed yet.
                                    <%}%>
                                  </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

<%- include("partials/footer") -%>
